@font-face {
  font-family: "OpenSans-Bold";
  src: url("/public/fonts/OpenSans-Bold.eot");
  src: url("/public/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/OpenSans-Bold..otf") format("otf"), url("/public/fonts/OpenSans-Bold.svg#OpenSans-Medium") format("svg"), url("/public/fonts/OpenSans-Bold.woff2") format("woff2"), url("/public/fonts/OpenSans-Bold.woff") format("woff"), url("/public/fonts/OpenSans-Bold..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("/public/fonts/OpenSans-Light.eot");
  src: url("/public/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/public/fonts/OpenSans-Light..otf") format("otf"), url("/public/fonts/OpenSans-Light.svg#OpenSans-Medium") format("svg"), url("/public/fonts/OpenSans-Light.woff2") format("woff2"), url("/public/fonts/OpenSans-Light.woff") format("woff"), url("/public/fonts/OpenSans-Light..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Medium";
  src: url("/public/fonts/OpenSans-Medium.eot");
  src: url("/public/fonts/OpenSans-Medium.eot?#iefix") format("embedded-opentype"), url("/public/fonts/OpenSans-Medium..otf") format("otf"), url("/public/fonts/OpenSans-Medium.svg#OpenSans-Medium") format("svg"), url("/public/fonts/OpenSans-Medium.woff2") format("woff2"), url("/public/fonts/OpenSans-Medium.woff") format("woff"), url("/public/fonts/OpenSans-Medium..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("/public/fonts/OpenSans-Regular.eot");
  src: url("/public/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/OpenSans-Regular..otf") format("otf"), url("/public/fonts/OpenSans-Regular.svg#OpenSans-Medium") format("svg"), url("/public/fonts/OpenSans-Regular.woff2") format("woff2"), url("/public/fonts/OpenSans-Regular.woff") format("woff"), url("/public/fonts/OpenSans-Regular..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/public/fonts/OpenSans-SemiBold.eot");
  src: url("/public/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/OpenSans-SemiBold..otf") format("otf"), url("/public/fonts/OpenSans-SemiBold.svg#OpenSans-Medium") format("svg"), url("/public/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/public/fonts/OpenSans-SemiBold.woff") format("woff"), url("/public/fonts/OpenSans-SemiBold..ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  src: url("/public/fonts/Oswald-Bold.eot");
  src: url("/public/fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Oswald-Bold..otf") format("otf"), url("/public/fonts/Oswald-Bold.svg#OpenSans-Medium") format("svg"), url("/public/fonts/Oswald-Bold.woff2") format("woff2"), url("/public/fonts/Oswald-Bold.woff") format("woff"), url("/public/fonts/Oswald-Bold..ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
form,
dl,
dt,
dd,
ol,
span,
form {
  padding: 0;
  margin: 0;
}

input,
input:focus {
  background-color: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  resize: none;
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  text-decoration-line: none;
  outline: none;
}

.text {
  font: 25/33 "OpenSans-Bold";
  text-align: center;
  color: #333134;
}

a,
span,
strong,
b,
select {
  display: inline-block;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}/*# sourceMappingURL=App.css.map */