@font-face {
  font-family: "OpenSans-Bold";
  src: url("/src/./assets/fonts/OpenSans-Bold.eot");
  src: url("/src/./assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/src/./assets/fonts/OpenSans-Bold..otf") format("otf"), url("/src/./assets/fonts/OpenSans-Bold.svg#OpenSans-Medium") format("svg"), url("/src/./assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("/src/./assets/fonts/OpenSans-Bold.woff") format("woff"), url("/src/./assets/fonts/OpenSans-Bold..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("/src/./assets/fonts/OpenSans-Light.eot");
  src: url("/src/./assets/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/src/./assets/fonts/OpenSans-Light..otf") format("otf"), url("/src/./assets/fonts/OpenSans-Light.svg#OpenSans-Medium") format("svg"), url("/src/./assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/src/./assets/fonts/OpenSans-Light.woff") format("woff"), url("/src/./assets/fonts/OpenSans-Light..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Medium";
  src: url("/src/./assets/fonts/OpenSans-Medium.eot");
  src: url("/src/./assets/fonts/OpenSans-Medium.eot?#iefix") format("embedded-opentype"), url("/src/./assets/fonts/OpenSans-Medium..otf") format("otf"), url("/src/./assets/fonts/OpenSans-Medium.svg#OpenSans-Medium") format("svg"), url("/src/./assets/fonts/OpenSans-Medium.woff2") format("woff2"), url("/src/./assets/fonts/OpenSans-Medium.woff") format("woff"), url("/src/./assets/fonts/OpenSans-Medium..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("/src/./assets/fonts/OpenSans-Regular.eot");
  src: url("/src/./assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/src/./assets/fonts/OpenSans-Regular..otf") format("otf"), url("/src/./assets/fonts/OpenSans-Regular.svg#OpenSans-Medium") format("svg"), url("/src/./assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("/src/./assets/fonts/OpenSans-Regular.woff") format("woff"), url("/src/./assets/fonts/OpenSans-Regular..ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/src/./assets/fonts/OpenSans-SemiBold.eot");
  src: url("/src/./assets/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/src/./assets/fonts/OpenSans-SemiBold..otf") format("otf"), url("/src/./assets/fonts/OpenSans-SemiBold.svg#OpenSans-Medium") format("svg"), url("/src/./assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/src/./assets/fonts/OpenSans-SemiBold.woff") format("woff"), url("/src/./assets/fonts/OpenSans-SemiBold..ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  src: url("/src/./assets/fonts/Oswald-Bold.eot");
  src: url("/src/./assets/fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("/src/./assets/fonts/Oswald-Bold..otf") format("otf"), url("/src/./assets/fonts/Oswald-Bold.svg#OpenSans-Medium") format("svg"), url("/src/./assets/fonts/Oswald-Bold.woff2") format("woff2"), url("/src/./assets/fonts/Oswald-Bold.woff") format("woff"), url("/src/./assets/fonts/Oswald-Bold..ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
form,
dl,
dt,
dd,
ol,
span,
form {
  padding: 0;
  margin: 0;
}

input,
input:focus {
  background-color: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  resize: none;
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  text-decoration-line: none;
  outline: none;
}

.text {
  font: 25/33 "OpenSans-Bold";
  text-align: center;
  color: #333134;
}

a,
span,
strong,
b,
select {
  display: inline-block;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.footerBg {
  background-image: url("../assets/images/footerBG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}
.footerBg .container .topBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0;
  border-bottom: 0.2px solid #565656;
}
@media (max-width: 767px) {
  .footerBg .container .topBlock {
    flex-direction: column;
  }
}
.footerBg .container .topBlock image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 168px;
  height: 144px;
}
.footerBg .container .topBlock .rightBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}
@media (max-width: 767px) {
  .footerBg .container .topBlock .rightBlock {
    flex-direction: column;
  }
}
.footerBg .container .topBlock .rightBlock ul :first-of-type {
  font: 17px/54px "OpenSans-Bold";
  text-transform: uppercase;
  color: #ffffff;
}
.footerBg .container .topBlock .rightBlock ul li {
  font: 15px/30px "OpenSans-Light";
  color: #ffffff;
}
.footerBg .container .topBlock .newsBrief h3 {
  font: 17px/54px "OpenSans-Bold";
  text-transform: uppercase;
  color: #ffffff;
}
.footerBg .container .topBlock .newsBrief p {
  font: 15px/30px "OpenSans-Light";
  color: #ffffff;
}
.footerBg .container .topBlock .newsBrief .AffiliateBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "row";
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}
.footerBg .container .topBlock .newsBrief .AffiliateBlock div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "row";
  width: 40%;
  justify-content: space-around;
}
.footerBg .container .topBlock .newsBrief .AffiliateBlock div span {
  width: 30px;
  height: 30px;
  border: 1.5px solid #8c8c8c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerBg .container .topBlock .newsBrief .AffiliateBlock button {
  background-color: #ff873a;
  padding: 5px 10px;
  border-radius: 15px;
  font: 16px/20px SSB;
  text-transform: uppercase;
  color: #ffffff;
  width: 200px;
  margin-left: 20px;
}
.footerBg .container .bottomBlock {
  padding: 10px 0;
}
.footerBg .container .bottomBlock p {
  text-align: center;
  font: 15px/30px "OpenSans-Light";
  color: #ffffff;
}
.footerBg .container .bottomBlock b {
  display: inline;
  color: #ff873a;
  font: inherit;
}

.footerBottom {
  background-color: #ff873a;
  padding: 25px 0;
}
@media (max-width: 767px) {
  .footerBottom {
    padding-inline: 20px;
  }
}
.footerBottom .container .footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "row";
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footerBottom .container .footerContainer {
    flex-direction: column;
  }
}
.footerBottom .container .footerContainer p {
  font: 15px/30px "OpenSans-Regular";
  color: #ffffff;
}
.footerBottom .container .footerContainer .btnClose {
  background-color: #bd5513;
  padding: 7px;
  border-radius: 4px;
  opacity: 0.5;
  margin-left: 15px;
  text-align: center;
}
.footerBottom .container .footerContainer button {
  font: 15px/30px "OpenSans-Bold";
  text-transform: uppercase;
  color: #363437;
  background-color: #ffffff;
  padding: 8px 15px;
  border-radius: 3px;
}/*# sourceMappingURL=footer.css.map */